<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF=8' />
  <title>The Cookie Monster Network</title>
</head>
<body>
 
 <h1>The Cookie Monster Network</h1>
 <img src="http://scientopia.org/blogs/childsplay/files/2010/08/cookie-monster.jpg">
  <%= yield %>
 
</body>
</html>



